{% extends "nav.html" %}
    
{% block body %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>Generate QR Code</button>
        {{text}}
    </form>
    <p>Your QR Code</p>
    <img src="{{qrcode}}">
    {% if qrcode %}<a href='{{qrcode}}' Download='url.png'>Download as PNG</a> {% endif %}
    {% if qrcode %}<a href='{{qrcodesvg}}' Download='url.svg'>Download as SVG</a> {% endif %}
    {% if qrcode %}<a href='{{qrcodeeps}}' Download='url.eps'>Download as EPS</a> {% endif %}
</div>
{% endblock %} 