{% extends "nav.html" %}
    
{% block body %}
<div class="container row">
    <div class="col-sm-4 ">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success my-auto" type='submit'>Generate QR Code</button>
        </form>
    </div>

    <div class="col-sm-4 my-auto">
        <img src="{{qrcode}}"  style="heigth: 200px;width: 200px">
    </div>

    <div class="col-sm-4 my-auto">
        {% if qrcode %}<a href='{{qrcode}}' download='wifiqr.png'>Download as PNG</a> {% endif %}
        {% if qrcode %}<a href='{{qrcodesvg}}' donwload='wifiqr.svg'>Download SVG</a> {% endif %}
        {% if qrcode %}<a href='{{qrcodeeps}}' download='wifiqr.eps'>Download as EPS</a> {% endif %}
    </div>
</div>


<script>
    var password_field = $('#id_password');
    password_field.prop('disabled', true);
    
    $("#id_security").change(function() {
        if ($(this).val() === 'WPA' || $(this).val() === 'WEP') {
            password_field.prop('disabled', false);
        } else {
            password_field.prop('disabled', true);
        }
    });
</script>
{% endblock %} 